#
# Copyright (C) 2010 Texas Instruments Incorporated - http://www.ti.com/ 
#
# 
#  Redistribution and use in source and binary forms, with or without 
#  modification, are permitted provided that the following conditions 
#  are met:
#
#    Redistributions of source code must retain the above copyright 
#    notice, this list of conditions and the following disclaimer.
#
#    Redistributions in binary form must reproduce the above copyright
#    notice, this list of conditions and the following disclaimer in the 
#    documentation and/or other materials provided with the   
#    distribution.
#
#    Neither the name of Texas Instruments Incorporated nor the names of
#    its contributors may be used to endorse or promote products derived
#    from this software without specific prior written permission.
#
#  THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS 
#  "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT 
#  LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR
#  A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT 
#  OWNER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, 
#  SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT 
#  LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE,
#  DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY
#  THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT 
#  (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE 
#  OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
#
#

# Turn on tracing of internal errors and deprecated options
trace enable tracepoints "error deprecated"

# Enable TCP/IP connections
interface ssl library STAFTCP option Secure=Yes option Port=6550
interface tcp library STAFTCP option Secure=No  option Port=6500

# Set default local trust
trust machine local://local level 5

# Add default service loader
serviceloader library STAFDSLS
# STAF can be triggered from any of these IPs
trust machine 192.168.247.* level 5
#TestLink IP
trust machine 172.24.128.156 level 5
#Test PC IP 
trust machine 192.168.247.107 level 5

#Power Controller Service
SERVICE USBREMOTEPOWER LIBRARY STAFEXECPROXY EXECUTE PowerControl PARMS "PORT COM4" OPTION PROXYLIBRARY=PLSTAF OPTION USELIB="D:/perlTools/automation/test/framework/staf_services/powercontrol"

#TEE adapter needed config, 
#Replace w/ TMC IP or name for your site 
set shared var staf/tmc/machine=172.24.128.156 var starterware@TEE1/staf/tee/test_scripts_root="D:/perlTools/automation/test/"
set shared var Staf/Config/Machine=192.168.247.107
SERVICE starterware@TEE1 LIBRARY JSTAF EXECUTE "D:\/perlTools\/automation\/test\/framework\/staf_services\/TEEAdapter.jar" parms "txtype=xslt requesttxfile=D:\/perlTools\/automation\/test\/framework\/testlink_interface\/translator\/downwardTranslatorStarterWare@1.xsl resulttxfile=D:\/perlTools\/automation\/test\/framework\/testlink_interface\/translator\/upwardTranslatorStarterWare.xsl resultpath=D:\/perlTools\/automation\/test\/framework\/testlink_interface\/translator\/automation_results.xml hwassets=[am335x_evm];  description=StarterWare tee1"
